.experiencia-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  max-width: 1200px;
  column-gap: 6rem;
  padding: 40px 20px;
}

.subtitulo {
  grid-row: 1/-1;
  text-transform: uppercase;
  word-break: break-all;
  color: #e0e0e0;
  font-size: 8rem;
  max-width: 4ch;
}

.experiencia-desenv {
  display: grid;
  gap: 3rem;
}

.resumo {
  font-size: 1.5rem;
  color: #525252;
  line-height: 2rem;
  max-width: 40ch;
}

.experiencias {
  display: grid;
  gap: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.experiencia-negrito {
  color: black;
  font-weight: bold;
}

.experiencia-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(224, 224, 224, 0.3);
}

.experiencia-item::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    180deg,
    rgb(155, 240, 147),
    rgb(89, 207, 35)
  );
  height: 30px;
  width: 5px;
  z-index: 1;
  margin-top: 18px;
  margin-left: -5px;
}

.empresa,
.cargo {
  display: grid;
  gap: 0.5rem;
  padding: 1.5rem;
  position: relative;
}

.periodo {
  position: absolute;
  width: 80px;
  left: -100px;
  top: 24px;
  text-align: right;
}

.periodo,
.empresa p {
  color: rgb(100, 100, 100);
  font-size: 0.875rem;
  line-height: 1.4;
}

.ferramentas {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-inline-start: 0px;
  align-content: start;
}

.ferramentas li {
  background-color: white;
  padding: 0.5rem 0.75rem;
  margin: 0px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .experiencia-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 1200px;
    column-gap: 6rem;
    padding: 40px 20px;
  }

  .subtitulo {
    text-transform: capitalize;
    color: black;
    word-break: break-all;
    font-size: 2.5rem;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .resumo {
    font-size: 1.25rem;
    color: #525252;
    line-height: 1.75rem;
    max-width: 100%;
  }

  .periodo {
    position: relative;
    left: 0px;
    top: 0px;
    text-align: left;
  }
  .periodo p {
    font-size: 0.75rem;
  }
}
