.formacao-section {
  background-color: #141414;
}

.formacao-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.formacao-esquerda {
  display: grid;
  gap: 1rem;
}

.formacao-desenv {
  display: grid;
}

.formacao-resumo {
  font-size: 1.5rem;
  color: #a3a3a3;
  line-height: 2rem;
  max-width: 40ch;
}

.formacao-negrito {
  color: white;
  font-weight: bold;
}

.formacao-grid .subtitulo {
  color: black;
  max-width: 5ch;
}

.formacao-galeria {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px 0px;
  gap: 1rem;
}

.formacao-item {
  display: grid;
  background-color: black;
  width: 100%;
  padding: 1rem;
  align-content: stretch;
  grid-template-rows: 2fr 3fr 5fr;
  position: relative;
}

.instituicao-formacao {
  align-self: end;
  font-size: 1.25rem;
}

.formacao-item h3 {
  align-self: start;
}

.formacao-item p {
  color: #a3a3a3;
}

.formacao-item::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    180deg,
    rgb(155, 240, 147),
    rgb(89, 207, 35)
  );
  height: 20px;
  width: 5px;
  z-index: 1;
  margin-top: 45px;
  margin-left: -5px;
}

.cursos {
  display: grid;
  gap: 1.25rem;
}

.cursos ul {
  display: grid;
  gap: 1rem;
}

.cursos h3,
.cursos .curso-duracao {
  color: #8f8f8f;
}

.cursos h3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  position: relative;
}

.cursos h3::before {
  content: url("../img/cursos.svg");
  position: absolute;
  left: -40px;
  top: -5px;
}

.cursos p {
  color: white;
}

.cursos li {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.idiomas {
  display: grid;
  gap: 1.25rem;
  margin-top: 20px;
}

.idiomas ul {
  display: grid;
  gap: 1rem;
}

.idiomas h3,
.idiomas .idioma-duracao {
  color: #8f8f8f;
}

.idiomas h3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  position: relative;
}

.idiomas h3::before {
  content: url("../img/idiomas.svg");
  position: absolute;
  left: -40px;
  top: -5px;
}

.idiomas p {
  color: white;
}

.idiomas li {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

.nivel-idioma {
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .formacao-grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
  }

  .formacao-grid .subtitulo {
    color: white;
    max-width: 100%;
  }
  .formacao-resumo {
    font-size: 1.25rem;
    line-height: 1.75rem;
    max-width: 100%;
  }

  .cursos {
    margin-top: 50px;
  }

  .cursos h3::before {
    content: url("../img/cursos.svg");
    position: absolute;
    left: 0px;
    top: -35px;
  }

  .idiomas {
    margin-top: 50px;
  }

  .idiomas h3::before {
    content: url("../img/idiomas.svg");
    position: absolute;
    left: 0px;
    top: -35px;
  }

  .formacao-galeria {
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 20px;
  }

  .formacao-item {
    gap: 0.25rem;
  }
}
